
{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}
{% load bootstrap %}

<div class="container ">
<h1>Brenco Quiz</h1>

    <form method="GET">
        {{ filter.form|bootstrap }}
        <button class="btn btn-primary" type="submit">Categorize</button>
    </form>
    <hr>
 <form method='post' action=''>
    {% csrf_token %}
    {% for q  in filter.qs%}
    <div class="form-group">
      <label for="question">{{q.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
                {{q.op1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
                {{q.op2}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
            <label class="form-check-label" for="gridRadios1">
                {{q.op3}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
            <label class="form-check-label" for="gridRadios2">
                {{q.op4}}
            </label>
        </div>
        <br>
    </div>    
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>
{% endblock %}
 
